version: '3.9'

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    ports:
      - "3000:3000"
    volumes:
      - ./apps/backend/src:/app/apps/backend/src
      - ./apps/backend/output:/app/apps/backend/output
      - ./apps/backend/src/config:/app/apps/backend/src/config
    environment:
      - NODE_ENV=development

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "5173:5173"
    depends_on:
      - backend
    volumes:
      - ./apps/frontend/src:/app/apps/frontend/src
      - ./apps/frontend/index.html:/app/apps/frontend/index.html
      - ./apps/frontend/vite.config.ts:/app/apps/frontend/vite.config.ts
    environment:
      - NODE_ENV=development
